@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/open-sans-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/open-sans-v20-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v20-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  width: 100%;
}

.sitenav-bg {
  width: 100%;
  position: fixed;
  top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px #e5e5e5;
}

.pixer-logo {
  width: 58px;
  height: 20px;
  margin-left: 100px;
}

.pixer-logo:active {
  opacity: 40%;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu-list {
  display: flex;
}

.navbar-menu-item {
  margin-right: 32px;
  margin: 0;
}

.navbar-menu-link:active {
  background-color: #191919B2;
  color: #ffffff;
}

.navbar-menu-item:last-child {
  margin-right: 24px;
}

.navbar-menu-link {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  transition: 0.2s ease;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.navbar-menu-link:nth-child(6) {
  padding-right: 0;
}

.navbar-menu-link:nth-child(1) {
  padding-left: 10px;
}

.navbar-menu-link:hover {
  border-bottom: 3px solid #191919;
}

.navbar-button {
  width: 165px;
  height: 40px;
  border-radius: 5px;
  background-color:  #00BAFC;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 15px;
  padding: 8px 16px;
  transition: 0.4s ease;
  margin-right: 100px;
}

.navbar-button:hover {
  background-color: #ffffff;
  color: #00BAFC;
  border: 3px solid #00BAFC;
  padding: 8px 16px;
}

.navbar-button:active {
  background: #00BAFC99;
}

.header-wrapper {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.header-box {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-top: 80px;
}

.header-left-box {
  width: 480px;
}

.promo-heading {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 16px;
}

.header-left-box-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.header-button {
  width: 232px;
  height: 40px;
  background-color: #00BAFC;
  border-radius: 5px;
  cursor: pointer;
  border-color: transparent;
}

.header-left-box-button {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  padding: 8px 16px;
}

.header-button:hover {
  background-color: #00BAFCCC;
}

.header-button:active {
  background-color: #00BAFC99;
}


.services {
  width: 1300px;
  text-align: center;
  margin-top: 80px;
}

.service:nth-child(1)::before {
  content: url("../images/website-illustration.svg");
}

.service:nth-child(2)::before {
  content: url("../images/bot-illustration.svg");
}

.service:nth-child(3)::before {
  content: url("../images/smm-illustration.svg");
}

.service:nth-child(4)::before {
  content: url("../images/design-illustration.svg");
}

.service:nth-child(5)::before {
  content: url("../images/crm-illustration.svg");
}

.section-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.section-text {
  width: 719px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.service {
  width: 320px;
  margin-right: 70px;
  box-shadow: 0px 8px 8px 0px #0000001A;
  margin-bottom: 48px;
  border-radius: 5px;
}

.service:hover {
  box-shadow: 0px 12px 21px 0px #0000001A;
  cursor: pointer;
}

.service:nth-child(3) {
  margin-right: 0;
}

.service:nth-child(4) {
  margin-left: 193px;
}

.subsection-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.subsection-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.service-card:nth-child(3) {
  margin-right: 0;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 167px;
  height: 40px;
  border-radius: 5px;
  margin-right: 16px;
  background-color: #00BAFC;
  border-color: transparent;
  cursor: pointer;
}


.button-link {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.services-bottom-link {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #00BAFC;
  text-decoration-line: underline;
}

.how-we-work {
  margin-top: 56px;
  padding-top: 56px;
  text-align: center;
}

.step {
  width: 832px;
  height: 278px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  display: flex;
  align-items: center;
}

.step-info {
  margin-left: 32px;
  text-align: left;
}

.step-info:nth-child(2n) {
  margin-right: 32px;
}

.step:last-child {
  margin-bottom: 48px;
}

.order-form {
  background-color: #00BAFC;
  text-align: center;
  height: 543px;
}

.order-form .section-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  padding-top: 56px;
}

.order-form .section-text {
  width: 719px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  text-align: center;
  color: #ffffff;
}

form {
  width: 348px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  padding: 24px;
  background-color: #ffffff;
}

input {
  width: 300px;
  height: 56px;
  padding-left: 16px;
  background-color: #f3f3f3;
  border-radius: 5px;
  border-color: transparent;
}

.input  {
  margin-bottom: 16px;
}

select {
  width: 300px;
  height: 56px;
  background-color: #f3f3f3;
  border-radius: 5px;
  border-color: transparent;
  margin-bottom: 16px;
}

.select {
  margin-bottom: 16px;
}

footer {
  width: 1300px;
  height: 338px;  
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  background-color: #191919;
  margin-left: auto;
  margin-right: auto;
}

.site-copy {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 56px;
  margin-left: 100px;
}

.site-copy-text {
  width: 320px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 100px;
  margin-top: 16px;
}

.footer-pages-menu {
  text-align: left;
  margin-left: 100px;
  margin-right: 87px;
}

.footer-subsection-title {
  margin-top: 56px;
  margin-bottom: 16px;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin-left: 40px;
}

.footer-site-page-item {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 8px;
}

.footer-site-page-item:hover {
  color: #00BAFC;
}

.footer-site-page-item:active {
  opacity: 60%;
}

.social-media {
  margin-bottom: 8px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.telegram::before {
  content: url("../images/telegram.svg");
  margin-right: 8px;
}

.facebook::before {
  content: url("../images/facebook.svg");
  margin-right: 8px;
}

.instagram::before {
  content: url("../images/instagram.svg");
  margin-right: 8px;
}

.social-media:hover {
  color: #00BAFC;
}

.social-media:active {
  opacity: 60%;
}

.social-media-icon {
  margin-right: 8px;
}